
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f6f9;
}

/* ---- HEADER ---- */
header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 15px 30px;
    background-color: #003366;
    color: white;
    position: sticky;
    top: 0;
}

/* ---- LOGO ---- */
.logo {
    font-size: 1.6em;
    font-weight: bold;
}

/* ---- MENU NAVIGATION ---- */
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 40px; 
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}
nav a:hover {
    text-decoration: underline;
}
.btn-hero:hover {
    background-color: #e6e6e6;
}
/* (section d'accueil) */
.hero {
    text-align: center;
    padding: 120px 20px;
    background: linear-gradient(to right, #004a99, #0077cc);
    color: white;
}

.hero h1 {
    font-size: 2.4em;
    margin-bottom: 15px;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 25px;
}

/* Bouton */
.btn-hero {
    display: inline-block;
    padding: 12px 25px;
    background-color: white;
    color: #003366;
    border-radius: 6px;
    font-weight: bold;
    text-decoration: none;
}

.btn-hero:hover {
    background-color: #e6e6e6;
}