
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f6f9;
}

/*  HEADER */
header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 15px 30px;
    background-color: #003366;
    color: white;
    position: sticky;
    top: 0;
}

/*LOGO */
.logo {
    font-size: 1.6em;
    font-weight: bold;
}

/*MENU NAVIGATION*/
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 40px; 
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}
nav a:hover {
    text-decoration: underline;
}
.btn-hero:hover {
    background-color: #e6e6e6;
}
/* section d'accueil */
.hero {
    text-align: center;
    padding: 120px 20px;
    background: linear-gradient(to right, #004a99, #0077cc);
    color: white;
}

.hero h1 {
    font-size: 2.4em;
    margin-bottom: 15px;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 25px;
}

/* Bouton */
.btn-hero {
    display: inline-block;
    padding: 12px 25px;
    background-color: white;
    color: #003366;
    border-radius: 6px;
    font-weight: bold;
    text-decoration: none;
}

.btn-hero:hover {
    background-color: #e6e6e6;
}
/* ACTUALITÉS */

.actu-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);;
    gap: 25px;

    max-width: 1100px;
    margin: 60px auto;
    padding: 0 20px 40px;

}

.actu-container h1 {
    text-align: center;
    font-size: 2.2em;
    margin-bottom: 40px;
    color: #003366;
    margin-top: 20px;
    grid-column: 1 / -1;

}

/* Carte */
.actu-card {
    background-color: white;
    padding: 25px 30px;
    margin-bottom: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.08);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    margin: 10px 0;
}

.actu-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 14px rgba(0,0,0,0.12);
}

/* Titre d'actualité */
.actu-card h2 {
    font-size: 1.4em;
    margin-bottom: 10px;
    color: #004a99;
}

/* Texte */
.actu-card p {
    font-size: 1em;
    margin-bottom: 18px;
    color: #333;
}

/* Bouton */
.btn-actu {
    display: inline-block;
    padding: 10px 18px;
    background-color: #003366;
    color: white;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9em;
}

.btn-actu:hover {
    background-color: #0055aa;
}
.actu-card hr {
    border: none;
    border-top: 1px solid #eee;
    margin: 15px 0;
}

.date, .source {
    display: block;
    font-size: 0.8em;
    color: #666;
    margin-bottom: 5px;
}
/*IMAGES ACTUALITÉS*/

.actu-card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
}
